.label {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #142D51;
  font-size: 0.875em;
  font-family: Roboto, serif;
  font-weight: 500;
  margin-top: 3.2143em;
  margin-bottom: 0.857em;

  span {
    margin: 0 0.64285em;
  }
}
