.title {
  font-family: "Open Sans", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  color: #e3ecf3;
  margin: 1em 0;
}

.title-warning {
  font-family: "Open Sans", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  color: #e3ecf3;
  text-align: center;
}

.copy-right {
  text-transform: uppercase;
  color: #e3ecf3;
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 0.875em;
  text-align: center;
  width: 20em;
}
